<launch>

    <node pkg="ekf_test" type="ekf_test" name="ekf_test" output="screen">
        <param name="error_ah" value="0.5"/>
        <param name="error_av" value="0.5"/>
        <param name="error_ddtheta" value="0.2"/>
        <param name="error_mpx" value="0.01"/>
        <param name="error_mpy" value="0.01"/>
        <param name="error_mpz" value="0.01"/>
        <param name="error_mvh" value="0.01"/>
        <param name="error_mvv" value="0.01"/>
        <param name="error_theta" value="0.01"/>
	</node> 

</launch>
