# 忽略项目根目录下所有以 .a 结尾的文件
*.a
*.bag
*.zip

# lib.a 除外
!lib.a
!mavlink_msg.zip
# !car_data_trans.zip
# !OOQP.zip
# !ma27.zip

# 目录下的所有文件
build/

devel/

.vscode/

data/

src/mavlink_msg/

moving_platform/

# 忽略项目根目录下的 doc 目录下的所有以 .txt 结尾的文件
sh_utils/*.txt

