<launch>

    <!-- <group ns="drone"> -->
        <!-- rviz -->
        <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen"
                args="-d $(find realflight_utils)/config/traj_follow.rviz"> 
        </node> -->

        <!-- <node name="pos_vel_plot" pkg="rqt_plot" type="rqt_plot" 
                args="/traj_analyse/visual/imuacc_x /traj_analysevisual/imuacc_y /traj_analysevisual/imuacc_z">
        </node> -->

        <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen">
                <param name="num_worker_threads" value="16"/>
        </node>

        <!-- <node pkg="nodelet" type="nodelet" name="global_planning" args="load gcopter/GlobalPlanner manager" output="screen">
                <rosparam file="$(find gcopter_ml)/config/global_planning.yaml" command="load" />
        </node>  -->

        <node pkg="nodelet" type="nodelet" name="traj_analyse" args="load trajAnalyse/trajAls manager" output="screen">
                <rosparam file="$(find realflight_utils)/config/traj_analyse.yaml" command="load" />
                <param name="analyse_arg" value="1"/>
        </node> 

        <!-- <node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
                        <remap from="~odom" to="/mavros/odometry/in" />
                        <remap from="~cmd" to="/drone/planning/traj_follow" />
                <rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />
        </node> -->

    <!-- </group> -->

</launch>