<launch>
  <group ns="drone0">
    <!-- <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen">
      <param name="num_worker_threads" value="16"/>
    </node> -->

    <node pkg="nodelet" type="nodelet" name="odomRemap" args="load odomRemap/odomRemap manager" output="screen">
      <param name="gtruthTopic" value="/mavros/local_position/odom"/>
      <param name="fit_size" value="100"/>
      <param name="odom_source" value="1"/>
      <param name="simulation" value="false"/> <!-- 1 for simulation -->
      <param name="vision_source" value="0"/>
      <param name="car_odom_remap" value="1"/>
      <param name="use_vis" value="1"/>
    </node>   
  </group>

</launch>
