<launch>
    <!-- <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen">
      <param name="num_worker_threads" value="16"/>
    </node> -->

    <node pkg="nodelet" type="nodelet" name="odomRemap" args="load odomRemap/odomRemap manager" output="screen">
      <param name="gtruthTopic" value="/mavros/local_position/odom"/>
      <param name="fit_size" value="100"/>
      <param name="odom_source" value="1"/>
    </node>   

</launch>
