<launch>
  <group ns="drone0">
    <!-- <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen">
      <param name="num_worker_threads" value="16"/>
    </node> -->

    <node pkg="nodelet" type="nodelet" name="odomRemap" args="load odomRemap/odomRemap manager" output="screen">
      <param name="gtruthTopic" value="/gazebo/model_states"/>
      <param name="fit_size" value="100"/>
      <param name="odom_source" value="1"/>
      <param name="simulation" value="true"/> <!-- 1 for simulation -->
      <param name="car_odom_remap" value="1"/> <!-- 1 for remap car odom -->
    </node>   
  </group>

</launch>
