<launch>
    <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen">
      <param name="num_worker_threads" value="8"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="rcinRemap" args="load rcinRemap/rcRemap manager" output="screen">
    </node>          

</launch>
