<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="chcnav">
        <!-- hc_topic_driver -->
        <node pkg="chcnav" type="hc_cgi_protocol_process_node" name="hc_topic_driver" output="screen"/>

        <!-- tcp -->
        <node pkg="chcnav" type="hc_msg_parser_launch_node" name="tcp_7532" output="screen">
            <!-- tcp settings -->
            <param name="type" value="tcp"/>
            <param name="rate" value="1000"/>
            <param name="host" value="192.168.200.1"/>
            <param name="port" value="7532"/>
            <!-- tcp settings end -->
        </node>

        <!-- c_rs232 -->
        <node pkg="chcnav" type="hc_msg_parser_launch_node" name="c_rs232" output="screen">
            <!-- serial settings -->
            <param name="type" value="serial"/>
            <param name="rate" value="1000"/>
            <param name="port" value="/dev/ttyUSB0"/>
            <param name="baudrate" value="460800"/>
            <!-- serial settings end -->
        </node>
    </group>
</launch>