<launch>

	<node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
      <param name="num_worker_threads" value="16"/>
    </node>

	<node pkg="nodelet" type="nodelet" name="ctrl_node" args="load ctrl_node/FSM manager" output="screen">
			
		<!-- <remap from="~odom" to="/mavros/local_position/odom" /> -->
		<remap from="~odom" to="/odom/remap" />

		<remap from="~cmd" to="/drone0/planning/cmd" />

        <rosparam command="load" file="$(find ctrl_node)/config/ctrl_param.yaml" />
	</node>
 
</launch>
